version: "3.8"

services:
  mongo:
    image: mongo:4.2.0
    container_name: mongodb
    restart: always
    volumes:
      - ./data:/data/db
    networks:
      - express-mongo
    expose:
      - 27017
  # Node API service   
  api:
    container_name: api
    build: .
    ports:
      - 27017:27017
  # dbseed Service
  mongo_seed:
    image: mongo:4.2.0
    container_name: mongo_seed
    links:
      - mongo
    volumes:
      - ./dataset:/dataset
    command:
      /dataset/import.sh ${collectionName} 
    environment:
      - ${collectionName}=value
    networks:
      - express-mongo
    depends_on:
      - mongo        
volumes:
  mongo: {}
networks:
  express-mongo:
      
      